<ion-content padding fullscreen="true" scrollY="false">
  <section text-center class="container">
    <div text-center>
      <img class="qfy-logo" src="assets/qfy-logo-white.png" alt="Qfy Logo"><br>
      <strong>Live Game Shows</strong>
    </div>
    <ion-button class="bordered" routerLink="/mobile-entry" routerDirection="forward" shape="round" strong="true">
      Let's Win Some Money
    </ion-button>
    <ion-button class="bordered" routerLink="/register" routerDirection="forward" shape="round" strong="true">
      Register
    </ion-button>
    <p>
      By Signing Up You Agree to<br>
      <a href="#">Terms of Use, Privacy Policy &amp; Rules</a>
    </p>
  </section>
</ion-content>
