.bgColoredCircle1 {
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #c5930a;
  border-radius: 50%;
}
.bgColoredCircle2 {
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #00e5e5;
  border-radius: 50%;
}
.bgColoredCircle3 {
  height: 30px;
  width: 30px;
  background-color: #4db47b;
  border-radius: 50%;
}
.bgColoredCircle4 {
  height: 30px;
  width: 30px;
  background-color: #993d3d;
  border-radius: 50%;
}
